Librerias/GDS_NM_WebServicesSabre/Web References/EMD_Display/EMD_DisplayLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:stl="http://services.sabre.com/STL/v01" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="EMD_DisplayRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="AirItineraryPricingInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ItinTotalFare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="FareCalculation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Taxes">
                      <xs:complexType>
                        <xs:attribute name="Total" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TotalFare">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:string" use="optional" />
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="EMD_Amounts">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="MonetaryAmount">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                      <xs:attribute name="Type" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="EMD_Coupons">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="EMD_Coupon">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="BaseFare">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:string" use="optional" />
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FlightSegment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="DestinationLocation">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OperatingAirline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OriginLocation">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="DepartureDateTime" type="sws:date" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="CompanyName" type="xs:string" use="optional" />
                  <xs:attribute name="eTicketCoupon" type="xs:string" use="optional" />
                  <xs:attribute name="eTicketNumber" type="xs:string" use="optional" />
                  <xs:attribute name="Group" type="xs:string" use="optional" />
                  <xs:attribute name="Number" type="xs:string" use="optional" />
                  <xs:attribute name="RelatedPlace" type="xs:string" use="optional" />
                  <xs:attribute name="StatusCode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="EMD_Info">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="CustomerInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="CustLoyalty">
                      <xs:complexType>
                        <xs:attribute name="MembershipID" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="CC_Info">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="PaymentCard">
                                  <xs:complexType>
                                    <xs:attribute name="ApprovalCode" type="xs:string" use="optional" />
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                    <xs:attribute name="ExpireDate" type="sws:expireDate" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Payment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Form" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Text" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Conditions" type="xs:string" use="optional" />
                        <xs:attribute name="ReferenceNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PersonName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                          <xs:element minOccurs="0" name="Surname" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="NameReference" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Source">
                <xs:complexType>
                  <xs:attribute name="AgencyCity" type="xs:string" use="optional" />
                  <xs:attribute name="AgentWorkArea" type="xs:string" use="optional" />
                  <xs:attribute name="IATA_Number" type="xs:string" use="optional" />
                  <xs:attribute name="IssuingAgent" type="xs:string" use="optional" />
                  <xs:attribute name="PrimeHostID" type="xs:string" use="optional" />
                  <xs:attribute name="PseudoCityCode" type="xs:string" use="optional" />
                  <xs:attribute name="TransactionDateTime" type="sws:dateTime" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="CustomerIdentifier" type="xs:string" use="optional" />
            <xs:attribute name="DocumentNumber" type="xs:string" use="optional" />
            <xs:attribute name="InvoiceNumber" type="xs:string" use="optional" />
            <xs:attribute name="IssueDate" type="sws:date" use="optional" />
            <xs:attribute name="ItineraryRef" type="xs:string" use="optional" />
            <xs:attribute name="ProductIdentification" type="xs:string" use="optional" />
            <xs:attribute name="Type" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>