Librerias/GDS_NM_WebServicesSabre/Web References/VoidTicket/VoidTicketLLS20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="VoidTicketRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ticketing">
          <xs:complexType>
            <xs:attribute name="eTicketNumber" type="xs:integer" use="optional" />
            <xs:attribute name="RPH" type="xs:integer" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>