Librerias/GDS_NM_WebServicesSabre/Web References/ExchangeShopping/ExchangeShoppingLLS20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="ExchangeShoppingRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExchangeComparison">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ExchangeSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PriceRequestInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="OptionalQualifiers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="FlightQualifiers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="ConnectionInformation">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="MaxConnections">
                                              <xs:complexType>
                                                <xs:attribute name="Number" type="xs:integer" use="optional" />
                                                <xs:attribute name="WithStops" type="xs:boolean" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="NoConnectionChange" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="NewFlights">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ItineraryOptions">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="SegmentSelect">
                                                    <xs:complexType>
                                                      <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                                                      <xs:attribute name="Number" type="xs:integer" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="2" name="VendorPrefs">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="20" name="Airline">
                                              <xs:complexType>
                                                <xs:attribute name="Code" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="Exclude" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ConsiderAlternateLocations" type="xs:boolean" use="optional" />
                                    <xs:attribute name="DirectOnly" type="xs:boolean" use="optional" />
                                    <xs:attribute name="MixedCarrier" type="xs:boolean" use="optional" />
                                    <xs:attribute name="OnlineOnly" type="xs:boolean" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="PricingQualifiers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Account">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Code" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="Corporate">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ID" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="FareOptions">
                                        <xs:complexType>
                                          <xs:attribute name="Private" type="xs:boolean" use="optional" />
                                          <xs:attribute name="Public" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="ItineraryOptions">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="SegmentSelect">
                                              <xs:complexType>
                                                <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                                                <xs:attribute name="Number" type="xs:integer" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="NameSelect">
                                        <xs:complexType>
                                          <xs:attribute name="NameNumber" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="Overrides">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="NoAdvancePurchase">
                                              <xs:complexType>
                                                <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="NoFareRestrictions">
                                              <xs:complexType>
                                                <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="NoMinMaxStay">
                                              <xs:complexType>
                                                <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="NoPenalty">
                                              <xs:complexType>
                                                <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="PassengerStatus">
                                        <xs:complexType>
                                          <xs:attribute name="Type" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="PassengerType">
                                        <xs:complexType>
                                          <xs:attribute name="Code" type="xs:string" use="required" />
                                          <xs:attribute name="Force" type="xs:boolean" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="Taxes">
                                        <xs:complexType>
                                          <xs:attribute name="TaxExempt" type="xs:boolean" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                    <xs:attribute name="NumOptions" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="TimeQualifiers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrivalTime">
                                        <xs:complexType>
                                          <xs:attribute name="RPH" type="xs:integer" use="optional">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">
                                                                                            RPH is used to select an instance of .../PricingQualifiers/ItineraryOptions/SegmentSelect to which this time apply.
                                                                                            If RPH is not specified then it applied to the last SegmentSelect instance.
                                                                                            If there is more than one ArrivalTime elements the RPH attribute is mandatory.
                                                                                        </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="WindowAfter" type="sws:time" use="required" />
                                          <xs:attribute name="WindowBefore" type="sws:time" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartureTime">
                                        <xs:complexType>
                                          <xs:attribute name="RPH" type="xs:integer" use="optional">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">
                                                                                                RPH is used to select an instance of .../PricingQualifiers/ItineraryOptions/SegmentSelect to which this time apply.
                                                                                                If RPH is not specified then it applied to the last SegmentSelect instance.
                                                                                                If there is more than one DepartureTime elements the RPH attribute is mandatory.
                                                                                            </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="WindowAfter" type="sws:time" use="required" />
                                          <xs:attribute name="WindowBefore" type="sws:time" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="MinusDays" type="xs:integer" use="optional" />
                                    <xs:attribute name="NumHours" type="xs:integer" use="optional" />
                                    <xs:attribute name="PlusDays" type="xs:integer" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="OriginalTicketNumber" type="xs:string" use="optional" />
            <xs:attribute name="TicketRecordNumber" type="xs:integer" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>