Librerias/GDS_NM_WebServicesSabre/Web References/DeleteSpecialService/DeleteSpecialServiceLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="DeleteSpecialServiceRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Service">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="PersonName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="NameNumber" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Action" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Add" />
                        <xs:enumeration value="Modify" />
                        <xs:enumeration value="Remove" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="EndRPH" type="xs:integer" use="optional" />
            <xs:attribute name="RPH" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="VendorPrefs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Airline">
                <xs:complexType>
                  <xs:attribute name="Hosted" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.2.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>