Librerias/GDS_NM_WebServicesSabre/Web References/RulesFromPrice/RulesFromPriceLLS20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:stl="http://services.sabre.com/STL/v01" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="RulesFromPriceRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="FareRuleInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Line">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Text" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Type" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Legend" />
                              <xs:enumeration value="Fare" />
                              <xs:enumeration value="Passenger Type" />
                              <xs:enumeration value="Origin Destination" />
                              <xs:enumeration value="Fare Basis" />
                              <xs:enumeration value="Fare Type" />
                              <xs:enumeration value="SITA" />
                              <xs:enumeration value="Footnotes" />
                              <xs:enumeration value="Currency" />
                              <xs:enumeration value="System Dates" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ParsedData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CurrencyLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Amount" type="xs:string" />
                                <xs:element minOccurs="0" name="CurrencyCode" type="xs:string" />
                                <xs:element minOccurs="0" name="Discontinue" type="xs:string" />
                                <xs:element minOccurs="0" name="Effective" type="sws:date" />
                                <xs:element minOccurs="0" name="FareClass" type="xs:string" />
                                <xs:element minOccurs="0" name="RoutingNumberOrMPM" type="xs:string" />
                                <xs:element minOccurs="0" name="TariffDescriptionNumber" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="FareBasisLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="DisplayType">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="FareBasis">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="FareVendor" type="xs:string" />
                                <xs:element minOccurs="0" name="Text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="FareTypeLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="FareDescription">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="Code" type="xs:string" use="optional" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="FareType" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="FootnoteLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Footnotes" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OriginDestinationLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Airline">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="DestinationLocation">
                                  <xs:complexType>
                                    <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="OriginLocation">
                                  <xs:complexType>
                                    <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Rule" type="xs:string" />
                                <xs:element minOccurs="0" name="TariffDescriptionNumber" type="xs:string" />
                                <xs:element minOccurs="0" name="TravelDate" type="sws:fullDate" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="PassengerTypeLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="AutoPrice" type="xs:string" />
                                <xs:element minOccurs="0" maxOccurs="5" name="PassengerType">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="SITA_Line">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="DBE_Code" type="xs:string" />
                                <xs:element minOccurs="0" name="FareQuality" type="xs:string" />
                                <xs:element minOccurs="0" name="RouteCode" type="xs:string" />
                                <xs:element minOccurs="0" name="TariffFamily" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="SystemDatesLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CreateDateTime" type="xs:string" />
                                <xs:element minOccurs="0" name="ExpireDateTime" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Rules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Paragraph">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Text" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="RPH" type="xs:string" use="optional" />
                        <xs:attribute name="Title" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="RoutingInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>