Librerias/GDS_NM_WebServicesSabre/Web References/RulesFromPrice/RulesFromPriceLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="RulesFromPriceRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RuleReqInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="xs:string" />
              <xs:element minOccurs="0" name="FareBasis">
                <xs:complexType>
                  <xs:attribute name="Code" type="xs:string" use="optional" />
                  <xs:attribute name="DisplayRouting" type="xs:boolean" use="optional" />
                  <xs:attribute name="TicketDesignator" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="NoMatch">
                <xs:complexType>
                  <xs:attribute name="LineNumber" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Passenger">
                <xs:complexType>
                  <xs:attribute name="Code" type="xs:string" use="optional" />
                  <xs:attribute name="TypeNumber" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentSelect">
                <xs:complexType>
                  <xs:attribute name="EndNumber" type="xs:integer" use="optional" />
                  <xs:attribute name="Number" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="LevelTwo" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>