Librerias/GDS_NM_WebServicesSabre/Web References/OTA_AirBookLLS200/OTA_AirBookLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:stl="http://services.sabre.com/STL/v01" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="OTA_AirBookRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" name="OriginDestinationOption">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="10" name="FlightSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="DestinationLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MarketingAirline">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MarriageGrp">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="OriginLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ArrivalDateTime" type="sws:dateTime" use="optional" />
                  <xs:attribute name="DepartureDateTime" type="sws:dateTime" use="optional" />
                  <xs:attribute name="eTicket" type="xs:boolean" use="optional" />
                  <xs:attribute name="FlightNumber" type="xs:string" use="optional" />
                  <xs:attribute name="NumberInParty" type="xs:string" use="optional" />
                  <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                  <xs:attribute name="Status" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>