Librerias/GDS_NM_WebServicesSabre/Web References/OTA_AirBookLLS200/OTA_AirBookLLS20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="OTA_AirBookRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OriginDestinationInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="10" name="FlightSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DestinationLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Equipment">
                      <xs:complexType>
                        <xs:attribute name="AirEquipType" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MarketingAirline">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="required" />
                        <xs:attribute name="FlightNumber" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MarriageGrp">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="OperatingAirline">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OriginLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ArrivalDateTime" type="xs:string" use="optional" />
                  <xs:attribute name="BrandID" type="xs:string" use="optional" />
                  <xs:attribute name="DepartureDateTime" type="sws:dateTime" use="required" />
                  <xs:attribute name="FlightNumber" type="xs:string" use="required" />
                  <xs:attribute name="NumberInParty" type="xs:string" use="required" />
                  <xs:attribute name="ResBookDesigCode" type="xs:string" use="required" />
                  <xs:attribute name="Status" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.0.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>