Librerias/GDS_NM_WebServicesSabre/Web References/Fare/FareLLS21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="FareRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OptionalQualifiers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="FlightQualifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="VendorPrefs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Airline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="PricingQualifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Account">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="4" name="Code" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Force" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Corporate">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="4" name="ID" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Force" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FareBasis">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="FareLevel" type="xs:string" use="optional" />
                        <xs:attribute name="GlobalInd" type="xs:string" use="optional" />
                        <xs:attribute name="TicketDesignator" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FareOptions">
                      <xs:complexType>
                        <xs:attribute name="AddOn" type="xs:boolean" use="optional" />
                        <xs:attribute name="Net" type="xs:boolean" use="optional" />
                        <xs:attribute name="Private" type="xs:boolean" use="optional" />
                        <xs:attribute name="Public" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FareType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InclusionCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="JourneyType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Code" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Overrides">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="NoAdvancePurchase">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="NoFareRestrictions">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="NoMinMaxStay">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="NoPenalty">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Purchase">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Validation">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="4" name="PassengerType">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                  <xs:attribute name="ReturnBaseTaxTotal" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TimeQualifiers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="TravelDateOptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Historical">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TicketingDate" type="sws:fullDate" />
                                <xs:element name="TravelDate" type="sws:fullDate" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="End" type="sws:date" use="optional" />
                        <xs:attribute name="Preferred" type="sws:date" use="optional" />
                        <xs:attribute name="Return" type="sws:date" use="optional" />
                        <xs:attribute name="Start" type="sws:date" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OriginDestinationInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FlightSegment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DestinationLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OriginLocation">
                      <xs:complexType>
                        <xs:attribute name="LocationCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.1.0" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>