Librerias/GDS_NM_WebServicesSabre/Web References/Fare/FareLLS20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:stl="http://services.sabre.com/STL/v01" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd" namespace="http://services.sabre.com/STL/v01" />
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="FareRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="stl:ApplicationResults" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="FareBasis">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AdditionalInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AdvancePurchase" type="xs:string" />
                    <xs:element minOccurs="0" name="Airline">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Cabin" type="xs:string" />
                    <xs:element minOccurs="0" name="EffectiveDate" type="sws:fullDate" />
                    <xs:element minOccurs="0" name="ExpirationDate" type="sws:fullDate" />
                    <xs:element minOccurs="0" maxOccurs="2" name="Fare">
                      <xs:complexType>
                        <xs:attribute name="Amount" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MaxStay" type="xs:string" />
                    <xs:element minOccurs="0" name="MinStay" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="2" name="OneWayRoundTrip">
                      <xs:complexType>
                        <xs:attribute name="Ind" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PricingTicketingRestrictions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="QuoteDate" type="sws:fullDate" />
                    <xs:element minOccurs="0" name="Rule">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="28" name="Category" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SeasonalApplication">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="20" name="Text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TaxInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="OneWayTax">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OneWayTaxPlusFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="RoundTripTax">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="RoundTripTaxPlusFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TicketDate" type="sws:fullDate" />
                  </xs:sequence>
                  <xs:attribute name="Acknowledgement" type="xs:boolean" use="optional" />
                  <xs:attribute name="Constructed" type="xs:boolean" use="optional" />
                  <xs:attribute name="FareType" type="xs:string" use="optional" />
                  <xs:attribute name="FareVendor" type="xs:string" use="optional" />
                  <xs:attribute name="Net" type="xs:boolean" use="optional" />
                  <xs:attribute name="Private" type="xs:boolean" use="optional" />
                  <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional" />
                  <xs:attribute name="RoutingNumber" type="xs:string" use="optional" />
                  <xs:attribute name="SameDay" type="xs:boolean" use="optional" />
                  <xs:attribute name="YY" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="BaseFare">
                <xs:complexType>
                  <xs:attribute name="Amount" type="xs:string" use="optional" />
                  <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Category22">
                <xs:complexType>
                  <xs:attribute name="Ind" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Category35">
                <xs:complexType>
                  <xs:attribute name="Amount" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Corporate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="4" name="PassengerType">
                <xs:complexType>
                  <xs:attribute name="Code" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SellingFare">
                <xs:complexType>
                  <xs:attribute name="Amount" type="xs:string" use="optional" />
                  <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Code" type="xs:string" use="optional" />
            <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
            <xs:attribute name="RPH" type="xs:integer" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="HeaderInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AdditionalVendorInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketingAirline">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="NoReturnFlights" type="xs:boolean" use="optional" />
                        <xs:attribute name="NumConnecting" type="xs:string" use="optional" />
                        <xs:attribute name="NumIntermediates" type="xs:string" use="optional" />
                        <xs:attribute name="NumNonstops" type="xs:string" use="optional" />
                        <xs:attribute name="ParticipationLevel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherAirlinesInMarket">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="CurrencyCode" type="xs:string" />
              <xs:element minOccurs="0" name="OriginDestinationOption">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="FlightSegment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="DestinationLocation">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="MarketingAirline">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="OriginLocation">
                            <xs:complexType>
                              <xs:attribute name="LocationCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="DepartureDateTime" type="sws:fullDate" use="optional" />
                        <xs:attribute name="ReturnDateTime" type="sws:fullDate" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Routing">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="GlobalInd" type="xs:string" use="optional" />
            <xs:attribute name="MileageAllowance" type="xs:string" use="optional" />
            <xs:attribute name="Number" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="YY_FareMessage">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="20">
              <xs:element minOccurs="0" maxOccurs="1" name="Text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>