ROTOB_ANULACION/Web References/WebServiceAmadeus/Ticket_RepricePNRWithBookingClassReply_12_2_1A.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xml.amadeus.com/TARIPR_12_2_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/TARIPR_12_2_1A" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ticket_RepricePNRWithBookingClassReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">To return a list of fares for existing PNR itinerary booking class</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationError">
          <xs:annotation>
            <xs:documentation xml:lang="en">Application error details</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="applicationErrorInfo" type="ApplicationErrorInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Error information returned by ticketing application</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="errorText" type="InteractiveFreeTextType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Description in free flow text of the error returned by ticketing application</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pnrLocatorData" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">PNR record locator information for this transaction. This PNR record locator is used for tracing purpose.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="99" name="fareList">
          <xs:annotation>
            <xs:documentation xml:lang="en">List of fares returned by Fare Quote server for the current PNR</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pricingInformation" type="PricingTicketingSubsequentTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Pricing information such as pricing rule and sales indicator.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareReference" type="ItemReferencesAndVersionsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Fare reference number. Ordering information is not relevant here.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="lastTktDate" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Last date to ticket the fare.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="validatingCarrier" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Validating carrier identification.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paxSegReference" type="ReferenceInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger/segment association of the fare is specified here.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fareDataInformation" type="MonetaryInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specify all fare data information (base fare, equivalent fare, new ticket cheaper, Mileage Accrual...)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="120" name="taxInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Tax fare data detailed information</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="taxDetails" type="DutyTaxFeeDetailsTypeU">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Tax details</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="amountDetails" type="MonetaryInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Amount details. If the tax is a passenger facility charge (PFC) the detail of the airports related taxes is given here.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="bankerRates" type="ConversionRateTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Banker's rates are used to convert amounts of the TST (converts base fare to equivalent fare) 1st C661 : 1st bankers' rate which is a percentage (no currency) 2nd C661 : 2nd bankers' rate which is currency+amount.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="99" name="passengerInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger information related to the fare</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="penDisInformation" type="DiscountAndPenaltyInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Penalty/discount details specified in the request.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="passengerReference" type="ReferenceInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Reference of passengers that have a type code.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="originDestination" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Origin and destination of the fare. 1st C3225 occurence : origin city. 2nd C3225 occurence : destination city</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="96" name="segmentInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Segments detail information related to the fare</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="connexInformation" type="ConnectionTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Connection information.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="segDetails" type="TravelProductInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Details on open segments added to the price calculation. These open segments exist only in the fare calculated, they have no equivalent in the PNR itinerary. This segment gives also information on booking class for best buy transactions.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="fareQualifier" type="FareQualifierDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fare basis information</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="2" name="validityInformation" type="StructuredDateTimeInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Validity information for this fare</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="bagAllowanceInformation" type="ExcessBaggageTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Baggage allowance information</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="segmentReference" type="ReferenceInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Reference of the segment associated to the group.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="sequenceInformation" type="ItemReferencesAndVersionsType_107712S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The segment order in the pricing response can be different than the one of the PNR itinerary (segments are reordered at price calculation time). This order inform,ation is conveyed by the sequence number. If this order information is not present then the order is by default the one of the PNR.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="5" name="otherPricingInfo" type="CodedAttributeType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Other pricing information such as endorsement, tour name...</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="99" name="warningInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Warning information concerning the fare.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="warningCode" type="ApplicationErrorInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fare warning information code.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="warningText" type="InteractiveFreeTextTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Description in free flow text of the warning concerning the fare.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="automaticReissueInfo">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Automatic Reissue Informations</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ticketInfo" type="TicketNumberTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment contains the original ticket number.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="couponInfo" type="CouponInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">This segment contains the coupon number (in absolute) corresponding to the first coupon for use from the last flawn segment.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="paperCouponRange">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">provide the range for paper reissuance</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ticketInfo" type="TicketNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">This segment contains the original ticket number.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="couponInfo" type="CouponInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">This segment contains the coupon number (in absolute) corresponding to the first coupon for use from the last flawn segment.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="baseFareInfo" type="MonetaryInformationTypeI_74385S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Base fare Information</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="firstDpiGroup">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Discount and penalty group in  reissue currency</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="reIssuePenalty" type="DiscountAndPenaltyInformationTypeI_74387S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Penalty amount in reissue currency</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="reissueInfo" type="MonetaryInformationType_145217S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Reissue Informations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="oldTaxInfo" type="MonetaryInformationType_145217S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Old Tax informations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="reissueBalanceInfo" type="MonetaryInformationType_145220S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Balance Reissue Informations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="secondDpiGroup">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Discount and penalty group in issue currency</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="penalty" type="DiscountAndPenaltyInformationTypeI_74387S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Discount and penalty info.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="residualValueInfo" type="MonetaryInformationType_145217S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Residual Value information</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="oldTaxInfo" type="MonetaryInformationType_145217S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Old Tax informations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="issueBalanceInfo" type="MonetaryInformationType_145220S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Balance issue Informations</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="thirdGroup">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Miles Group.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="reissueMilesInfo" type="MonetaryInformationType_78667S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Reissue Miles Information</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="originalMilesValues" type="MonetaryInformationType_78667S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Original Miles Values</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="reissueAttributes" type="CodedAttributeType_129941S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">this segment conveys specific reissue attributes like Revalidation flag.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalFareQualifierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the fare basis and ticket designator codes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="primaryCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Primary code of the fare basis. This is not a codeset but a free flow text field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareBasisCode" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare basis code of the fare basis. This is not a codeset but a free flow text field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ticketDesignator" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket designator of the fare basis</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="discTktDesignator" type="AlphaNumericString_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">For any query : discount ticket designator to be assigned by Fare Quote server. For any response : priced PTCs</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="applicationErrorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codeListQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="codeListResponsibleAgency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the agency responsible for a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicationErrorDetail" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaggageDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number and weight of baggage.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="baggageQuantity" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance quantity (piece concept)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="baggageWeight" type="NumericDecimal_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance weight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="baggageType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance type (weight/number)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="measureUnit" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Measurement unit for weighing baggage allowance</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="attributeDescription" type="AlphaNumericString_Length1To500">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType_189071C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="attributeDescription" type="AlphaNumericString_Length1To256">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify pricing options by key/value.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="5" name="attributeDetails" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="0" name="Dummy.NET" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType_129941S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="99" name="attributeDetails" type="CodedAttributeInformationType_189071C">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="carrierCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the location, product supplier and time for a connection with the next means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="routingInformation" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specify ARNK and surface segments  not included in the fare routing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="connexType" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of connection for the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify connection designator.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="connecDetails" type="ConnectionDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Connection details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the conversion rate and the monetary amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency of the rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="amount" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount/percentage</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of conversion rates.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstRateDetail" type="ConversionRateDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">First rate detail.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="secondRateDetail" type="ConversionRateDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second rate detail.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="otherCouponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAndPenaltyInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information about discounts and penalties</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="infoQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualify the type of information.  Penalties are not passenger associated and are pure monetary information. Discount are passenger associated but only discount code is specified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="9" name="penDisData" type="DiscountPenaltyMonetaryInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify penalty information.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAndPenaltyInformationTypeI_74387S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information about discounts and penalties</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="penDisData" type="DiscountPenaltyMonetaryInformationTypeI_115079C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify penalty information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the discounts and penalties by fare type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zapOffType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount off type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zapOffAmount" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zapOffPercentage" type="NumericDecimal_Length1To8">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount percentage.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyMonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of discount and penalty information, the monetary amount, and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="penaltyType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of penalty.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="penaltyQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The penalty amount can be described differently: amount/percentage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="penaltyAmount" type="NumericDecimal_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount of the penalty.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="discountCode" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">This discount code is defined by the airlines. This cannot be coded as airlines might apply any combination of letters for their discounts.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="penaltyCurrency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Penalty currency code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountPenaltyMonetaryInformationTypeI_115079C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of discount and penalty information, the monetary amount, and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="penaltyQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The amount Type can be a percentage or an amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="penaltyAmount" type="NumericDecimal_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">specify the value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="penaltyCurrency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">penalty currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeAccountDetailTypeU">
    <xs:sequence>
      <xs:element name="isoCountry" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Iso country of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To transmit tax data as it should appear in the tax boxes of the ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxQualifier" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax data qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxIdentification" type="DutyTaxFeeTypeDetailsTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax type identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxType" type="DutyTaxFeeAccountDetailTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxNature" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Nature of the tax</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxExempt" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Exempt tax indicator. If an tax is Exempted no amount is provided for this tax.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeTypeDetailsTypeU">
    <xs:sequence>
      <xs:element name="taxIdentifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax type identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExcessBaggageTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify information concerning baggage allowance details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="bagAllowanceDetails" type="BaggageDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Baggage allowance information details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareQualifierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the fare basis information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="movementType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of movement for this segment to take into account by Fare Quote to calculate the fare.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareBasisDetails" type="AdditionalFareQualifierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare basis detail</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zapOffDetails" type="DiscountPenaltyInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Discount data for zap off to apply to price calculation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide error free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="errorFreeText" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free flow text describing the error</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free form or coded text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="errorFreeText" type="AlphaNumericString_Length1To250">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free flow text describing the error</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="referenceType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of the reference used. Code set to define</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uniqueReference" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemReferencesAndVersionsType_107712S">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="sequenceSection" type="UniqueIdDescriptionType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification details : order number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="cityCode" type="AlphaString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code of the city.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualify the type of fare defined in this composite</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareAmount" type="AlphaNumericString_Length1To11">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare data amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareCurrency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare data currency code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareLocation" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location of the fare data (PFCs specific)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI_115077C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="location" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI_120914C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">type qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="amount" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount in miles</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">No currency need with miles...</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="location" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element minOccurs="0" name="fareAmount" type="NumericDecimal_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareCurrency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fareLocation" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType_209702C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element minOccurs="0" name="amount" type="NumericDecimal_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currency" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="location" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amount information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataMainInformation" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Main fare data infomation, can b thee base or  the total fare information which are mandatory  anyway</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="19" name="fareDataSupInformation" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Supplementary fare data information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI_74385S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI_115077C">
        <xs:annotation>
          <xs:documentation xml:lang="en">monetaryDetails</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="5" name="otherMonetaryDetails" type="MonetaryInformationDetailsTypeI_115077C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareDataMainInformation" type="MonetaryInformationDetailsType" />
      <xs:element minOccurs="0" maxOccurs="99" name="fareDataSupInformation" type="MonetaryInformationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType_145217S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType_209702C" />
      <xs:element minOccurs="0" maxOccurs="40" name="otherMonetaryDetails" type="MonetaryInformationDetailsType_209702C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType_145220S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType_209702C" />
      <xs:element minOccurs="0" maxOccurs="19" name="otherMonetaryDetails" type="MonetaryInformationDetailsType_209702C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType_78667S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI_120914C">
        <xs:annotation>
          <xs:documentation xml:lang="en">monetary details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="19" name="otherMonetaryDetails" type="MonetaryInformationDetailsTypeI_120914C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="2" name="cityCode" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code of the city.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingSubsequentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify pricing indicator information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tstInformation" type="RateTariffClassInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information on TST type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="salesIndicator" type="AlphaString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">International sales indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fcmi" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Fare calculation mode indicator. This indicator specifies the type fare.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bestFareType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information of original fare used to create TST. The TST is created from Best Fare ( possible or available).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identification" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">OPEN or AIR are the two identifications accepted.  OPEN means the segment described here is an open segment. AIR means that it is a valid AIR segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bookingClass" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">to describe the transportation class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classOfService" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service to use in order to price the extra segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateTariffClassInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the current and/or original fare basis code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tstIndicator" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicator qualifying the type of TST (basically manual or automatic)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="otherRateTariffIndicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicator qualifying the type of fare.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="99" name="refDetails" type="ReferencingDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TST/fare reference details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="refQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Qualifyer of the reference (Pax/Seg/Tst/Fare tattoo)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="refNumber" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger/segment/TST/fare tattoo reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Record locator.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservationInformation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="year" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number. The format is a little long for short term usage but it can be reduced by implementation if required.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="month" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="day" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ticket type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="carrierInformation" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information related to validating carrier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="departureCity" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">City of departure for this extra segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="arrivalCity" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">City of arrival for this extra segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="airlineDetail" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline detail information of the extra segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="segmentDetail" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Segment detail information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ticketingStatus" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticketing status for this segment. Relevant only in case of reply.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueIdDescriptionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="sequenceNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number specifying the ordering information of the item described within a group.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To250">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..250</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To11">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..11</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To500">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..500</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To256">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..256</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>