ROTOB_ANULACION/Web References/WebServiceAmadeus/Ticket_ReissueConfirmedPricing_13_2_1A.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://xml.amadeus.com/TARCPQ_13_2_1A" elementFormDefault="qualified" targetNamespace="http://xml.amadeus.com/TARCPQ_13_2_1A" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ticket_ReissueConfirmedPricing">
    <xs:annotation>
      <xs:documentation xml:lang="en">Ticketing Automatic Reissue Confirmed Pricing Query

</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="9" name="ticketInfo">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group contains all info related to the ticket requested to be exchanged. This group is conditionnal because of Technical constraint.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paperticketDetailsFirstCoupon" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Details on the exchanged ticket : information of the first conjonctif coupon.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="couponInfoFirst" type="CouponInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Details on Exchanged coupons into the ticket : first coupons to exchange (related to the first conjonctif). The coupon number is mandatory in the case of paper ticket.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="paperInformation">
                <xs:annotation>
                  <xs:documentation xml:lang="en">provide ranfe of coupon and ticket for paper processing</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paperInformationDummy" type="DummySegmentTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To avoid ambiguities.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="paperticketDetailsLastCoupon" type="TicketNumberTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Details on the exchanged ticket : provide the ticket related to the last coupon to exchange</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="papercouponInfoLast" type="CouponInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Details on Exchanged coupons into the ticket : last coupons to exchange</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ticketRange">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">The range of tickets is provided</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="paperticketDetailsfirst" type="TicketNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Details on the exchanged ticket : prime ticket</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="paperticketDetailsLast" type="TicketNumberTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Details on the exchanged ticket : last ticket</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CouponInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="3" name="otherCouponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on coupon</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DummySegmentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To serve the purpose of a mandatory segment at the beginning of a group and to avoid segment collision.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ticket type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details on the document</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>